<main class="container">
  <div class="h-8 text-xl">
    Lista pacjentów  <%= link_to "★Wykres★", chart_patients_path, class: "text-green-500" %>
  </div>

  <div class="flex">
<table>
  <tr>
    <th><%= sort_link(@q, :first_name, "Imię", default_order: :desc)%> </th>
    <th><%= sort_link(@q, :last_name, "Nazwisko", default_order: :desc)%> </th>
    <th><%= sort_link(@q, :date_of_birth, "Data urodzenia", default_order: :desc)%> </th>
    <th><%= sort_link(@q, :city, "Miasto", default_order: :desc)%> </th>
    <th><%= "Pesel" %> </th>
    <th><%= "Wizyty" %> </th>
  </tr>
  <% @patients.each do |p| %>
  <tr>
    <td><%= p.first_name %></td>
    <td><%= p.last_name %></td>
    <td><%= p.date_of_birth %></td>
    <td><%= p.city %></td>
    <td><%= p.pesel %></td>
    <td><%= link_to p.appointments.count, appointments_patient_path(p) %></td>
    <td><%= button_to "Dodaj wizytę", new_appointment_path, params: { patient_id: p }, method: :get, class: "btn btn-primary" %></td>
  </tr>
  <% end %>
</table>
</div>
  <%== pagy_nav(@pagy) %>
</main>
