<div class="appointment">
  <%= appointment.physician.first_name %>
  <%= appointment.physician.last_name %>
  <%= appointment.patient.first_name %>
  <%= appointment.patient.last_name %>
  <%= appointment.price %> PLN
  <div class="appointment_actions">
    <%= button_to "Edytuj", edit_appointment_path(appointment), params: { patient: appointment.patient }, method: :get, class: "btn-primary" %>
    <%= button_to "Usuń", appointment_path(appointment), method: :delete, class: "btn-danger" %>
  </div>
</div>
